@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
* {
	margin: 0;
	padding: 0;
}

:root {
	/* Colors */
	--primary-light-cyan: #cee3e9;
	--primary-neon-green: #52ffa8;

	--neutral-grayish-blue: #4e5d73;
	--neutral-dark-grayish-blue: #323a49;
	--neutral-dark-blue: #1f2632;

	background-color: var(--neutral-dark-blue);
}

body,
html {
	/* Typography */
	font-family: "Manrope", sans-serif;
	font-weight: 800;
}

.app {
	width: 100%;
	height: 100vh;
	/* padding: 3px;
	margin: 3px; */
}

.card {
	width: 70%;
	height: 6.25rem;
	margin: auto;
	margin-top: 15rem;
	padding: 1.25rem;
	background-color: var(--neutral-dark-grayish-blue);
	align-items: center;
	border-radius: 15px;
	text-align: center;
}

.title {
	text-align: center;
	color: var(--primary-neon-green);
	font-size: 0.875rem;
	letter-spacing: 0.25em;
	line-height: 1.1875rem;
}

.advice {
	color: var(--primary-light-cyan);
	font-size: 1.75rem;
	line-height: 2.375rem;
	text-align: center;
}
