@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
	/* Colors */
	--primary-light-cyan: #cee3e9;
	--primary-neon-green: #52ffa8;
	--primary-neon-green-hover: #00ff80;

	--neutral-grayish-blue: #4e5d73;
	--neutral-dark-grayish-blue: #323a49;
	--neutral-dark-blue: #1f2632;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

button {
	user-select: none;
}

body {
	background-color: var(--neutral-dark-blue);
	padding: 1.25rem;
	font-family: "Manrope", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 0.1px);
	text-align: center;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	background-color: var(--neutral-dark-grayish-blue);
	padding: 1.25rem 1.25rem 3rem;
	color: #ffffff;
	border-radius: 1.25rem;
	position: relative;
}

.container h1 {
	color: var(--primary-neon-green);
	font-size: 0.9rem;
	text-transform: uppercase;
	margin-bottom: 1.25rem;
	letter-spacing: 0.4rem;
}

.container p {
	font-size: 1.75rem;
	color: var(--primary-light-cyan);
	line-height: 1.5;
	padding-bottom: 2rem;
}

.container picture img {
	position: relative;
}

.container button {
	background-color: var(--primary-neon-green);
	padding: 1.25rem;
	border: none;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -2rem;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.container button:hover {
	box-shadow: 0 0 30px var(--primary-neon-green-hover);
}
